<h2 class="page_title">Your Current Tickets</h2>

<% if @tickets.present? %>
  <% @tickets.each do |ticket| %>
    <%= link_to ticket_path(ticket.id) do %>
      <h3 id="ticket_title"><%= ticket.subject %></h3>
    <% end %>

    <div class="description"><%= ticket.description %></div>
  <% end %>.

<% else %>
  <h3>Sorry this service is presently offline</h3>
<% end %>

<%= will_paginate @tickets %>
