<h2>Your Current Tickets</h2>

<%@tickets.each do |ticket|%>

<a href="/tickets/<%=ticket['id']%>"> <h3 id="event_title"><%=ticket['subject']%></h3></a>

   <div style="margin-left:2rem">
      <%=ticket['description']%>
   </div>

<% end %>

<%= will_paginate @tickets %>

<!-- TO DO
TESTING
NICE STYLING -->
