<!-- Display an error page if the API is presently unavailable -->

<h2>We're so sorry about this!</h2>

<h5>Unfortunately it looks like you've run into an error. We're so sorry for the inconvinence.<br> Please run through our likely issues <a>here</a> or we're able to take your call anytime to help fix the problem on +61 03 9876 5432</h5>
