// RESET START

*{
  padding:0px;
  margin:0px;
  color:black;
  list-style: none;
	text-decoration:none;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

// RESET END

p, ol, ul, td {
  font-family: "Lucida Sans Unicode", "Lucida Grande";
}

body {
  color: #333;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
	background-color: #fff;
}

.container {
  padding-bottom:50px; /* Height of the footer element */
	position:relative;
  margin-left:7%;
  width:70%;
}

.error_message {
  color: #9F6000;
  background-color: #FEEFB3;
  margin-left:2rem;
}

#ticket_title{
	color:#666;
	cursor:pointer;
}

#ticket_title:hover{
	text-decoration:underline;
}

header {
	padding-left: 4rem;
	margin-bottom: 1rem;
	padding-top: .1rem;
	height:6rem;
  background-color: #78a300;
  color:white;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
}

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}

.description {
	margin-left:2rem
}

.ticket_id_and_status, .ticket_time_details {
  margin-bottom:2rem;
}

.page_title {
  color: #78A300;
}
